<?xml version="1.0"?>
<config>
    <modules>
        <Magneto_SmartTags>
            <version>0.1.0</version>
        </Magneto_SmartTags>
    </modules>
    <global>
    	<models>
    		<smarttags>
				<class>Magneto_SmartTags_Model</class>
			</smarttags>
			<tag>
				<rewrite>
					<tag_relation>Magneto_SmartTags_Model_Tag_Relation</tag_relation>
				</rewrite>
			</tag>
			<tag_mysql4>
				<rewrite>
					<tag_relation>Magneto_SmartTags_Model_Mysql4_Tag_Relation</tag_relation>
				</rewrite>
			</tag_mysql4>
    	</models>

		<blocks>
			<smarttags>
				<class>Magneto_SmartTags_Block</class>
			</smarttags>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_tag>Magneto_SmartTags_Block_Catalog_Product_Edit_Tab_Tag</catalog_product_edit_tab_tag>
				</rewrite>
				<rewrite>
					<catalog_product_edit_tabs>Magneto_SmartTags_Block_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
				</rewrite>
			</adminhtml>
			<tag>
				<rewrite>
					<popular>Magneto_SmartTags_Block_Popular</popular>
				</rewrite>
			</tag>
		</blocks>
		<helpers>
			<smarttags>
				<class>Magneto_SmartTags_Helper</class>
			</smarttags>
		</helpers>
	</global>
	<adminhtml>
		<events>
            <catalog_product_save_after>
            	<observers>
            		<smarttags_saveAssociations>
	            		<type>singleton</type>
    	        		<class>smarttags/observer_adminhtml_saveProductAssociations</class>
        	    		<method>saveAssociations</method>
        	    	</smarttags_saveAssociations>
            	</observers>
            </catalog_product_save_after>
		</events>
		<layout>
            <updates>
                <debug>
                    <file>smarttags.xml</file>
                </debug>
            </updates>
        </layout>
	</adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magneto_SmartTags before="Mage_Adminhtml">Magneto_SmartTags</Magneto_SmartTags>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
		
</config>